name: Generate Sitemap

on:
  push:
    branches: [ main ]

jobs:
  sitemap:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Generate sitemap
        uses: cicirello/generate-sitemap@v1
        with:
          domain: "https://pritambag.in"
          output: "docs/sitemap.xml"
          include_html: true

      - name: Commit sitemap
        uses: stefanzweifel/git-auto-commit-action@v4
        with:
          commit_message: "update sitemap"
          file_pattern: "docs/sitemap.xml"
